.search-bar {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 20px;
}

.input-icon-container {
    position: relative;
    display: flex;
    align-items: center;
}

.input-icon {
    position: absolute;
    left: 10px;
    color: #242c54; /* Adjust color as needed */
}

.input-icon-container .input-field {
    padding-left: 35px; /* Adjust the padding to make space for the icon */
}

.input-field {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 200px;
    font-size: 16px;
}

.date-picker-input {
    width: 200px;
}

.search-button {
    padding: 10px 20px;
    background-color: #0071c2;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.search-container {
    background-color: rgba(36, 43, 89, 0.7098);
    padding: 20px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    width: fit-content;
}
